<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>TEAM H1 - System Monitor</title>
    <script src="angular.js"></script>
    <script src="controller.js"></script>
</head>
<body ng-controller="MonitorsController as mctrl">
<section>
    <button type="button" ng-click="mctrl.refresh()">Refresh</button>
</section>
<section class="nodes">
    <div class="node" ng-repeat="node in mctrl.nodes">
        <span ng-switch="node.type">
            <span ng-switch-case="'master'" class="master">Master</span>
            <span ng-switch-case="'gateway'" class="gateway">Gateway</span>
            <span ng-switch-case="'server'" class="server">Server</span>
            <span ng-switch-case="'client'" class="client">Client</span>
        </span>
        <span>{{node.mid}}</span>
        <span>{{node.pid}}</span>
        <a ng-click="mctrl.get(node.mid).terminate(node.pid)">terminate</a>
        <a ng-click="mctrl.get(node.mid).kill(node.pid)">kill</a>
    </div>
</section>
</body>
</html>