<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>TEAM H1 - System Monitor</title>
    <link rel="stylesheet" href="styles/sidebar.css">
    <link rel="stylesheet" href="styles/style.css">
    <script src="scripts/monitors.js"></script>
    <script src="scripts/nodes.js"></script>
    <script src="scripts/angular.js"></script>
    <script src="scripts/controller.js"></script>
</head>
<body ng-controller="MonitorsController as mctrl">
<section class="body">
    <section class="sidebar">

        <header>
            <div class="tabs">
                <div class="tab"
                     ng-repeat="t in ['Monitors','Nodes']"
                     ng-class="[{active: mctrl.tab===$index}]"
                     ng-mousedown="mctrl.tab=$index">
                    <span>{{t}}</span>
                </div>
            </div>
        </header>

        <!-- TAB 0 Monitors -->
        <section ng-switch="mctrl.tab">
            <section ng-switch-when="0">
                <!-- monitors list -->
                <div class="sidebar-list">
                    <div class="sidebar-list-title">Monitors</div>
                    <div class="sidebar-list-item"
                         ng-repeat="monitor in mctrl.monitors.list"
                         ng-class="[{active: mctrl.selectedMonitor.mid===monitor.mid}]"
                         ng-mousedown="mctrl.selectedMonitor=(mctrl.selectedMonitor===monitor?null:monitor)">
                        <span>{{monitor.mid}}</span>
                    </div>
                </div>
                <div class="sidebar-list">
                    <div class="sidebar-list-title">Connect</div>
                    <div class="sidebar-list-item">
                        <label>
                            Host
                            <input type="text" ng-model="mctrl.tmp.monitorHostToConnect">
                        </label>
                    </div>
                    <div class="sidebar-list-item">
                        <a ng-click="mctrl.monitors.add(mctrl.tmp.monitorHostToConnect)">Connect</a>
                    </div>
                </div>
            </section>

            <section ng-switch-when="1">
                <!-- nodes list -->
                <div class="sidebar-list">
                    <div class="sidebar-list-title">Nodes</div>
                    <div class="sidebar-list-item" ng-repeat="node in mctrl.nodes">
                        <div ng-switch="node.type">
                            <span ng-switch-case="'master'" class="master">Master</span>
                            <span ng-switch-case="'gateway'" class="gateway">Gateway</span>
                            <span ng-switch-case="'server'" class="server">Server</span>
                            <span ng-switch-case="'client'" class="client">Client</span>
                        </div>
                        <span>{{node.mid}}</span>
                        <span>{{node.pid}}</span>
                        <a ng-click="mctrl.get(node.mid).terminate(node.pid)">terminate</a>
                        <a ng-click="mctrl.get(node.mid).kill(node.pid)">kill</a>
                    </div>
            </section>
        </section>
    </section>
    <section class="main">
        <section ng-switch="mctrl.tab">
            <section ng-switch-when="0">
                <div class="history">
                    <div class="history-record" ng-repeat="r in mctrl.tmp.history"
                         ng-click="mctrl.tmp.selectedHistoryRecord">
                    </div>
                </div>
            </section>
            <section ng-switch-when="0" ng-if="false">
                <section class="flex-row block-wrapper" ng-if="mctrl.selectedMonitor">
                    <!-- monitor operation -->
                    <div class="block" style="flex: 1;">
                        <div class="sidebar-list-title">Launch a Client</div>
                        <div class="sidebar-list-item">
                            <label>
                                Host
                                <input type="text" ng-model="mctrl.tmp.clientToStart.hostname">
                            </label>
                        </div>
                        <div class="sidebar-list-item">
                            <label>
                                Port
                                <input type="text" ng-model="mctrl.tmp.clientToStart.port">
                            </label>
                        </div>
                        <div class="sidebar-list-item">
                            <label>
                                Username
                                <input type="text" ng-model="mctrl.tmp.clientToStart.username">
                            </label>
                        </div>
                        <div class="sidebar-list-item">
                            <label>
                                Secret
                                <input type="text" ng-model="mctrl.tmp.clientToStart.secret">
                            </label>
                        </div>
                        <div class="sidebar-list-item">
                        {{mctrl.tmp.clientLaunchCmd}}
                        </div>
                        <div class="sidebar-list-item">
                            <a ng-click="mctrl.monitors.get(mctrl.selectedMonitor.mid).start(mctrl.tmp.clientLaunchCmd)">Start</a>
                        </div>
                    </div>
                    <div class="block" style="flex: 1;">
                        <div class="sidebar-list-title">Launch a Server</div>
                        <div class="sidebar-list-item">
                            <label>
                                Host
                                <input type="text" ng-model="mctrl.tmp.serverToStart.hostname">
                            </label>
                        </div>
                        <div class="sidebar-list-item">
                            <label>
                                Port
                                <input type="text" ng-model="mctrl.tmp.serverToStart.port">
                            </label>
                        </div>
                        <div class="sidebar-list-item">
                            <label>
                                Remote Host
                                <input type="text" ng-model="mctrl.tmp.serverToStart.remoteHostname">
                            </label>
                        </div>
                        <div class="sidebar-list-item">
                            <label>
                                Remote Port
                                <input type="text" ng-model="mctrl.tmp.serverToStart.remotePort">
                            </label>
                        </div>
                        <div class="sidebar-list-item">
                            <label>
                                Secret
                                <input type="text" ng-model="mctrl.tmp.serverToStart.secret">
                            </label>
                        </div>
                        <div class="sidebar-list-item">
                        {{mctrl.tmp.serverLaunchCmd}}
                        </div>
                        <div class="sidebar-list-item">
                            <a ng-click="mctrl.monitors.get(mctrl.selectedMonitor.mid).start(mctrl.tmp.serverLaunchCmd)">Start</a>
                        </div>
                    </div>
                </section>
            </section>
            <section ng-switch-when="1">
                <!-- monitor operation -->
                <div class="sidebar-list" ng-if="mctrl.selectedMonitor">
                    <div class="sidebar-list-title">Operations</div>
                    <button type="button" ng-click="mctrl.refresh()">Refresh</button>
                </div>
            </section>
        </section>

    </section>

    <!-- sidebar 1 -->

    <!-- sidebar 2 -->
</section>
</body>
</html>